<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MisRecibos</title>
  </head>

  <body>
    <h1>Sube tu factura</h1>
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('invoice') }}"
    >
      <input type="file" name="file" />
      <input type="submit" value="Subir" />
    </form>
    {% include 'invoice/general.html' %}
    {% include 'invoice/buyer.html' %}
    {% include 'invoice/seller.html' %}
    {% include 'invoice/products.html' %}
    {% include 'invoice/summary.html' %}
    {% include 'invoice/extra.html' %}
  </body>
</html>
